---
import Section from '@/components/Section.astro'

import { basics } from '@cv'
import { basics_es } from '@escv'

const { language } = Astro.props

let { summary } = basics 

if (language == 'es') {
  summary = basics_es.summary
}

---

<Section title={`${(language == 'es')? 'Resumen' : 'Resume'}`}>
  <p>
    {summary}
  </p>
</Section>