---
import Section from '@/components/Section.astro'

import { languages } from '@cv'
import { languages as eslanguages } from '@escv'

const { language } = Astro.props

let langs = languages

if (language == 'es') langs = eslanguages
---

<Section title={`${(language == 'es')? 'Idiomas' : 'Languages'}`}>
  <ul>
    {
      langs.map(({ language, fluency }) => (
        <li>
          <span>{language}: {fluency}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  li {
    border-radius: 6px;
    background: #eee;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding: .2rem .6rem;
  }
</style>